---
const datas = [
  {
    id: "01",
    title: "Track company-wide progress",
    body: "See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.",
  },

  {
    id: "02",
    title: "Advanced built-in reports",
    body: "Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.",
  },

  {
    id: "03",
    title: "Everything you need in one place",
    body: "Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution.",
  },
];

import Card from "./Card.astro";
---

<section class="container grid grid-start">
  <div class="about-right">
    <h2>What’s different about <br /> Manage?</h2>
    <p>
      Manage provides all the functionality your team needs, without the
      complexity. Our software is tailor-made for modern digital product teams.
    </p>
  </div>

  <div class="about-left">
    {datas.map((data) => <Card data={data} />)}
  </div>
</section>

<style>
  .grid-start {
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
  }
</style>
